<%= render 'shared/errors', obj:@traveler %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @traveler do |f| %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.email_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    
    <%= f.submit(@traveler.new_record? ? 'Register':'Edit profile', class:"btn btn-success") %>
    <% end %>
  </div>
</div>
