<%= render 'shared/page_title', title: @journey.title %>

<div class="row">
<div class="col-md-6 col-md-offset-3 showdiv">
    <h3>in <%= @journey.location %></h3>
    <h4><%= simple_format(@journey.description) %></h4>
    <p>written by <%= @journey.traveler.name %></p>
    <p><%= link_to "Edit", edit_journey_path %></p>
    
    <p> updated <%= time_ago_in_words (@journey.updated_at) %> ago</p>
    <p> created <%= time_ago_in_words (@journey.created_at) %> ago</p>

    <p><%= link_to "Return to Journeys", journeys_path%></p>
</div>
</div>