<header class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "TravelGram", root_path, class:"navbar-brand", id:"logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
      <li> <%= link_to "Post now", new_journey_path, class:"item", id:"" %></li>
      <li> <%= link_to "My Page", traveler_path(Traveler.find(session[:traveler_id])), class:"item", id:"" %></li>
      <li> <%= link_to "Logout", logout_path , class:"item", id:"" %></li>
      <% end %>
      <% unless logged_in? %>
      <li> <%= link_to "Journeys",journeys_path, class:"item", id:"" %></li>
      <li> <%= link_to "Sign in", register_path , class:"item", id:"" %></li>
      <li> <%= link_to "Login", login_path , class:"item", id:"" %></li>
      <% end %>
      <li class="navspacer"></li>
    </ul>
  </div>
</header>