<header class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
     <span> <%= link_to "TravelGram", root_path, class:"navbar-brand", id:"logo" %> </span>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "Journeys",journeys_path, class:"item", id:"" %></li>
      
      <% if logged_in? %>
      <li> <%= link_to "Post now", new_journey_path, class:"item", id:"" %></li>
      <li class="dropdown"> 
          <%= link_to "#", class: "dropitem dropdown-toggle", "data-toggle" => "dropdown" do %>
          <%= current_user.name %> <b class="caret"></b>
          <% end %> 
        <ul class="dropdown-menu">
          <li> <%= link_to "View profile", traveler_path(current_user), class:"item", id:"" %></li>
          <li> <%= link_to "Edit profile", edit_traveler_path(current_user), class:"item" %></li>
          <li class="divider"></li>
          <li> <%= link_to "Logout", logout_path , class:"item", id:"" %></li>
        </ul>
      </li>
      <% end %>
      
      <% unless logged_in? %>
      <li> <%= link_to "Register", register_path , class:"item", id:"" %></li>
      <li> <%= link_to "Login", login_path , class:"item", id:"" %></li>
      <% end %>
      
      <li class="navspacer"></li>
    </ul>
    
  </div>
</header>