<!DOCTYPE html>
<html>
<head>
  <title>TravelGram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-defaul navbar-fixed-topt">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "TravelGram", "", class:"navbar-brand", id:"logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "item1","", class:"item", id:"" %></li>
      <li> <%= link_to "item2","", class:"item", id:"" %></li> 
      <li> <%= link_to "item3","", class:"item", id:"" %></li> 
      <li class="navspacer"></li>
    </ul>
  </div>
</header>

<%= yield %>


</body>
</html>
