<!DOCTYPE html>
<html>
<head>
  <title>TravelGram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application','data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/navigation' %>
  
  <div>
    <%= render 'layouts/messages' %>
  </div>
    <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
